.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #a3a3a3;
}

.header h1 {
    font-size: 3.1rem;
    text-decoration: underline;
}

.header a {
    font-size: 1.8rem;
    text-decoration: none;
    margin: 0 2rem;
    color: #5f65ff;
}